  .navbar {
    font-size: 1.2em;
    font-family: 'Arbutus';
    font-weight: bold;
    border: 0;
    padding-right: 15px;
    background-image: none;
    background-color: #000000;
    background-repeat: no-repeat;
      }

  .logo {
    float: left;
      }

.navbar .navbar-nav li a {
}

.navbar .navbar-nav li a:hover {
  font-size: 130%;
}

.navbar .navbar-nav li a:focus {
  font-size: 130%;
}

#navbar-collapse-main .active a {
  font-size: 130%;
  font-weight: bold;
  background-color: #B6B6B1;
}
