  .navbar {
    font-size: 1em;
    font-family: 'Arbutus';
    font-weight: bold;
    border: 0;
    padding-right: 15px;
    background-image: none;
    background-color: rgba(201, 201, 201, 0.4);
  }

  .logo {
    float: left;
  }

  .navbar .navbar-toggle .icon-bar {
    background-color: #FF5733;
  }

  .navbar .navbar-nav li a {
    color: #6797F4;
  }

  .navbar .navbar-nav li a:hover {
    font-size: 130%;
    color: #000000;
  }

  .navbar .navbar-nav li a:focus {
    font-size: 130%;
    color: #000000;
  }

  #navbar-collapse-main .active a {
    font-size: 130%;
    font-weight: bold;
    background-color: #B6B6B1;
  }

.name {
  height: 50px;
  text-align: center;
}

#name {
  color: black;
  padding-top: 5px;
  font-size: 2em;
}

#intro-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro .intro-paragraph {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

@media (max-width: 768px) {
  .intro .intro-paragraph {
    padding-top: 0;
  }
}